/*
============================
ADJUST HERO BACKGROUND
SO WORDS ARE OVER THE OCEAN
AND SKY
===========================
*/
@media all and (max-width: 1275px), all and (max-height: 900px) {
  .header {
    background-position: right top;
    background-size: auto;
  }
}

/*
============================
PRESENT LIST OF SERVICES
VERTICALLY
+
CERTAIN FONT-SIZE ADJ.
===========================
*/
@media all and (max-width: 1150px) {
  .services {
    .list {
      flex-direction: column;

      &__item {
        margin-bottom: 1.5em;
        flex-direction: row;

        &--col-center {
          flex-direction: row;
        }
      }
    }
  }

  .contact {
    .content-container--right-padding {
      padding-right: 1.5em;
    }
  }

  .image-container__description {
    .title {
      font-size: 2.4rem;
    }

    .content {
      font-size: 1.3rem;
    }
  }

  .reviews {
    .content--padding {
      padding: 3% 10%;
    }
  }
}

/*
============================
OVERALL FONT-SIZE DECREASE
TO ACCOMODATE
===========================
*/
@media all and (max-height: 900px) and (max-width: 1400px) {
  html {
    font-size: 57.5%;
  }
}

/*
============================
HIDE TOP NAVIGATION MENU AND
PRESENT TOGGLE SWITCH INSTEAD
+
CENTER GREETING MESSAGE
+
HIDE SAMPLE SHOOTS
+
DISPLAY CONTACT SECTION
VERTICALLY & REMOVE BOTTOM
NAVIGATION
+
DISPLAY INSTAGRAM PICTURES
ON ONE SINGLE LINE
===========================
*/
@media all and (max-width: 900px) {
  html {
    font-size: 55%;
  }

  .nav {
    flex-direction: column;
    align-items: flex-start;

    &__toggle-icon {
      display: block;
    }
  }

  .navigation {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 0.5em;

    &__item:not(:last-child) {
      margin: 0;
      border-bottom: 1px dotted $font-color-1;
    }
  }

  .greeting {
    text-align: center;
    align-self: center;
  }

  .sample-shoots {
    display: none;
  }

  .contact {
    .content-container--flex-row {
      flex-direction: column;
      text-align: center;

      .content-container {
        margin-bottom: 0em;

        &--right-padding {
          padding-right: 0em;
        }
      }

      .content-container:nth-child(2) {
        margin-bottom: 1em;
      }
    }

    .email-form {
      &__input {
        width: 60%;
        background-size: 4%;
      }
    }

    .gallery-container--flex-wrap {
      flex-wrap: nowrap;
    }

    .nav {
      display: none;
    }
  }
}

/*
============================
OVERALL INCREASE OF WRAPPER
WIDTH TO ACCOMODATE SMALLER
DEVICES
===========================
*/
@media all and (max-width: 750px) {
  .wrapper {
    max-width: 85%;
  }

  .testimonials {
    .content-container {
      display: flex;
      flex-direction: column;
      text-align: center;

      .image-container {
        margin-bottom: 1em;
      }

      &--margin-left {
        margin: 0;
      }
    }
  }

  .content--horiz-padding {
    padding: 0 2%;
  }
}

/*
============================
SMALL PADDING ADJUSTMENT
===========================
*/
@media all and (max-width: 650px) {
  .latest-news {
    .image-container__description {
      .content--padding {
        padding: 3% 0%;
      }
    }
  }
}

/*
============================
FONT-SIZE & PADDING ADJ.
+
DISPLAY LATEST NEWS VERTICALLY
+
REMOVE LARGE DISPLAY PICTURES
IN GALLERY AND PUT THEM
AS BACKGROUNDS FOR
GALLERY TYPES OF PICTURES
+
PUT SOCIAL MEDIA ICONS AT BOTTOM
===========================
*/
@media all and (max-width: 600px) {
  .content {
    font-size: 2rem;

    &--small {
      font-size: 1.6rem;
    }
  }

  .reviews {
    .content--padding {
      padding: 3% 5%;
    }
  }

  .latest-news {
    .list {
      flex-direction: column;

      &__item {
        margin-bottom: 1em;

        &--left {
          text-align: center;
        }
      }

      &__item:last-child {
        margin-bottom: 0;
      }
    }

    .image-container__description {
      .title {
        font-size: 2.6rem;
      }

      .content--small {
        font-size: 1.8rem;
      }
    }
  }

  .gallery {
    .wrapper--flex-row {
      flex-direction: column;
    }

    .section-title {
      display: block;
    }

    .list {
      &--fb-30 {
        flex-basis: 100%;
      }

      &__link:nth-child(1) {
        background-image: url(../assets/image-11.jpeg);
        background-size: cover;
      }

      &__link:nth-child(2) {
        background-image: url(../assets/image-12.jpeg);
        background-size: cover;
      }

      &__link:nth-child(3) {
        background-image: url(../assets/image-13.jpeg);
        background-size: cover;
      }

      &__link:nth-child(4) {
        background-image: url(../assets/image-14.jpeg);
        background-size: cover;
      }

      &__link:nth-child(5) {
        background-image: url(../assets/image-5.jpeg);
        background-size: cover;
      }

      &--fb-30 {
        flex-basis: 100%;
      }

      &__item {
        text-shadow: -0.8px 0 black, 0 0.8px black, 0.8px 0 black,
          0 -0.8px black;
        padding: 0.5em;

        &--dark-bg:hover {
          background-color: transparent;
          padding: 2em;
        }
      }
    }

    .gallery-container {
      display: none;
    }
  }

  .social-media {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1em;

    &__icon {
      margin-bottom: 0;
    }
  }
}

/*
============================
GIVE MORE SPACE FOR GREETING
MESSAGE ON SMALLER DEVICES
===========================
*/
@media all and (max-height: 620px) {
  .greeting {
    top: 45%;
  }
}

/*
============================
OVERALL FONT-SIZE DECREASE
TO ACCOMODATE SMALLER DEVICES
===========================
*/
@media all and (max-width: 550px), all and (max-height: 400px) {
  html {
    font-size: 50%;
  }
}

/*
============================
RE-DISPLAY INSTAGRAM PICTURES
ON TWO ROWS
===========================
*/
@media all and (max-width: 500px) {
  .contact {
    .gallery-container--flex-wrap {
      flex-wrap: wrap;
      justify-content: center;
    }

    .email-form {
      &__input {
        width: 100%;
      }
    }
  }
}

/*
============================
REMOVE INSTAGRAM PICTURES
===========================
*/
@media all and (max-width: 450px) {
  .contact {
    .content-container:nth-child(3) {
      display: none;
    }
  }
}
