@media all and (max-width: 1275px), all and (max-height: 900px) {
  .header {
    background-position: right top;
    background-size: auto;
  }
}

@media all and (max-width: 1150px) {
  .image-container__description {
    .title {
      font-size: 2.4rem;
    }

    .content {
      font-size: 1.2rem;
    }
  }
}

@media all and (max-width: 1150px) {
  .services {
    .list {
      flex-direction: column;

      &__item {
        margin-bottom: 1.5em;
        flex-direction: row;

        &--col-center {
          flex-direction: row;
        }
      }
    }
  }

  .contact {
    .content-container--right-padding {
      padding-right: 1.5em;
    }
  }
}

@media all and (max-height: 900px) and (max-width: 1400px) {
  html {
    font-size: 57.5%;
  }
}

@media all and (max-width: 900px) {
  html {
    font-size: 55%;
  }
  .nav {
    flex-direction: column;
    align-items: flex-start;

    &__toggle-icon {
      display: block;
    }
  }

  .navigation {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 0.5em;

    &__item:not(:last-child) {
      margin: 0;
      border-bottom: 1px dotted $font-color-1;
    }
  }

  .greeting {
    text-align: center;
    align-self: center;
  }

  .sample-shoots {
    display: none;
  }

  .contact {
    .content-container--flex-row {
      flex-direction: column;

      .content-container {
        margin-bottom: 0.75em;

        &--right-padding {
          padding-right: 2em;
        }
      }
    }

    .email-form__input {
      background-size: 4%;
    }

    .nav {
      display: none;
    }
  }
}

@media all and (max-width: 750px) {
  .wrapper {
    max-width: 85%;
  }

  .testimonials {
    .content-container {
      display: flex;
      flex-direction: column;
      text-align: center;

      .image-container {
        margin-bottom: 1em;
      }

      &--margin-left {
        margin: 0;
      }
    }
  }
}

@media all and (max-width: 600px) {
}

@media all and (max-width: 500px), all and (max-height: 400px) {
  html {
    font-size: 50%;
  }
}
