html {
  font-family: $primary-font, $secondary-font, sans-serif;
  font-size: 62.5%;
  color: $font-color-1;
}

body {
  font-size: 2.5rem;
}

.main-title {
  font-size: $font-size-1;
  text-transform: uppercase;
  line-height: 8rem;
}

.section-title {
  padding-bottom: 1em;
  font-size: $font-size-2;
  text-transform: uppercase;
  text-align: center;
}

.section-title--blue,
.subtitle--blue {
  color: $font-color-2;
}

.title {
  font-size: $font-size-3;
  text-transform: uppercase;
}

.title--white {
  color: $font-color-5;
}

.content {
  font-size: $font-size-4;
}

.content--small,
%content--small {
  font-size: $font-size-9;
}

.content--light-grey {
  color: $font-color-4;
}

.content--lato {
  font-family: "Lato";
  line-height: 2.6rem;
}

.lesser-title {
  font-size: $font-size-5;
  font-style: italic;
  font-weight: 400;
}

.subtitle {
  font-size: $font-size-6;
  text-transform: uppercase;
}

.subtitle--reset {
  text-transform: none;
}

.subtitle--bold,
.main-title--bold,
.title--bold,
.section-title--bold {
  font-weight: 700;
}

.smallest-title {
  color: $font-color-6;
  text-transform: uppercase;
  padding: 0.25em 0;
}

.content--slightly-smaller {
  font-size: $font-size-8;
  font-weight: 400;
}
