article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyhidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden; }

html {
  font-family: "Catamaran", "Lato", sans-serif;
  font-size: 62.5%;
  color: #2a2a2a; }

body {
  font-size: 2.5rem; }

.main-title {
  font-size: 8rem;
  text-transform: uppercase;
  line-height: 8rem; }
  .main-title--bold {
    font-weight: 700; }

.section-title {
  padding-bottom: 1em;
  font-size: 4.6rem;
  text-transform: uppercase;
  text-align: center; }
  .section-title--blue {
    color: #285d64; }
  .section-title--bold {
    font-weight: 700; }

.title {
  font-size: 3.2rem;
  text-transform: uppercase; }
  .title--white {
    color: #ffffff; }
  .title--bold {
    font-weight: 700; }

.subtitle, .text-form__input[type="text"]::-webkit-input-placeholder {
  font-size: 2rem;
  text-transform: uppercase; }

.subtitle, .text-form__input[type="text"]:-ms-input-placeholder {
  font-size: 2rem;
  text-transform: uppercase; }

.subtitle, .text-form__input[type="text"]::-ms-input-placeholder {
  font-size: 2rem;
  text-transform: uppercase; }

.subtitle, .text-form__input[type="text"]::placeholder {
  font-size: 2rem;
  text-transform: uppercase; }
  .subtitle--blue {
    color: #285d64; }
  .subtitle--reset, .text-form__input {
    text-transform: none; }
  .subtitle--bold {
    font-weight: 700; }

.content {
  font-size: 2.4rem; }
  .content--small, .email-form__input {
    font-size: 1.6rem; }
  .content--slightly-smaller {
    font-size: 1.7rem;
    font-weight: 400; }
  .content--light-grey {
    color: #efefef; }
  .content--lato {
    font-family: "Lato";
    line-height: 2.6rem; }

.lesser-title {
  font-size: 2.3rem;
  font-style: italic;
  font-weight: 400; }

.smallest-title {
  color: #eeeded;
  text-transform: uppercase;
  padding: 0.25em 0; }

/*
============================================================
GENERAL STYLING THAT COME UP OFTEN
============================================================
*/
* {
  margin: 0;
  padding: 0;
  list-style-type: none; }

a,
a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer; }

a:focus,
a:active {
  outline: 0; }

img {
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover; }

.img--height {
  height: 100%; }

.header,
.services,
.sample-shoots,
.reviews,
.latest-news,
.question,
.gallery,
.contact,
.footer {
  width: 100%; }

/* WRAPPER */
.wrapper {
  max-width: 80%;
  margin: 0 auto; }
  .wrapper--padding {
    padding: 6% 0; }
  .wrapper--less-padding-bot {
    padding-bottom: 3%; }
  .wrapper--flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .wrapper--flex-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .wrapper--content-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center; }
  .wrapper--space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

/* CONTENT CONTAINER */
.content-container {
  width: 100%; }
  .content-container--flex-col {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .content-container--flex-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .content-container--flex-start {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .content-container--margin-left {
    margin-left: 2em; }
  .content-container--right-padding {
    padding: 0 4.5em 0 0; }

/* BUTTON */
.button, .text-form__submit {
  border: 1px solid #2a2a2a;
  background: none;
  letter-spacing: 0.25em;
  padding: 0.5em 1.5em;
  border-radius: 50px;
  margin: 0.5em 0; }
  .button--add-margin, .text-form__submit {
    margin: 2.5em 0 1em 0; }

/*
============================================================
HEADER
============================================================
*/
.header {
  background-image: url(../assets/image-1.jpeg);
  background-size: cover;
  background-position: center;
  height: 90vh;
  position: relative; }

.nav {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .nav--col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .nav--margin-top {
    margin-top: 2em; }
  .nav__checkbox {
    display: none; }
    .nav__checkbox:checked + .navigation {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
  .nav__toggle-icon {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    cursor: pointer; }
    .nav__toggle-icon:hover {
      color: #285d64;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
  .nav__mobile-top-container {
    width: 100%;
    position: relative; }

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .navigation__item {
    margin-right: 1em; }
    .navigation__item:last-child {
      margin-right: 0; }
  .navigation .subtitle:hover, .navigation .text-form__input:hover[type="text"]::-webkit-input-placeholder {
    color: #285d64;
    -webkit-transform: scale(1.05);
    transform: scale(1.05); }
  .navigation .subtitle:hover, .navigation .text-form__input:hover[type="text"]:-ms-input-placeholder {
    color: #285d64;
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
  .navigation .subtitle:hover, .navigation .text-form__input:hover[type="text"]::-ms-input-placeholder {
    color: #285d64;
    -ms-transform: scale(1.05);
    transform: scale(1.05); }
  .navigation .subtitle:hover, .navigation .text-form__input:hover[type="text"]::placeholder {
    color: #285d64;
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05); }

.greeting {
  position: absolute;
  top: 39%;
  -ms-flex-item-align: end;
  align-self: flex-end; }
  .greeting .button:hover, .greeting .text-form__submit:hover {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    background-color: rgba(40, 93, 100, 0.75);
    color: #ffffff; }

/*
============================================================
WELCOME
============================================================
*/
.welcome {
  background-color: #ffffff;
  text-align: center; }
  .welcome .button:hover, .welcome .text-form__submit:hover {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    background-color: rgba(40, 93, 100, 0.9);
    color: #ffffff; }

/*
============================================================
SERVICES
============================================================
*/
.services {
  background-color: #bec884; }

.list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .list--evenly {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly; }
  .list--between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .list--fb-30 {
    -ms-flex-preferred-size: 31.5%;
    flex-basis: 31.5%; }
  .list--flex-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .list--bg {
    background-color: #606060; }
  .list__item {
    text-align: center; }
    .list__item--fb-30 {
      -ms-flex-preferred-size: 31.5%;
      flex-basis: 31.5%; }
    .list__item--col-center {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .list__item--left {
      text-align: left; }
    .list__item--dark-bg {
      -webkit-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      padding: 1 em; }
    .list__item--dark-bg:hover {
      background-color: rgba(42, 42, 42, 0.55); }
  .list__icon {
    font-size: 60px; }

/*
============================================================
TESTIMONIALS
============================================================
*/
.testimonials {
  background-color: #ffffff; }

/*
============================================================
SAMPLE SHOOTS
============================================================
*/
.sample-shoots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.sample-shoots .image-container:hover,
.latest-news .image-container:hover,
.gallery .image-container:hover,
.contact .image-container:hover {
  /* whyus's CSS code for background hover effect:
    https://jsfiddle.net/fr243agf/
    */
  -webkit-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.34);
  box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.34);
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
  z-index: 9999; }

.image-container {
  position: relative; }
  .image-container:hover .image-container__description,
  .image-container:hover .image-container__description--white {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .image-container--fb-50 {
    -ms-flex-preferred-size: 48%;
    flex-basis: 48%; }
  .image-container--margin-bot {
    margin-bottom: 4%; }
  .image-container--fb-25 {
    -ms-flex-preferred-size: 22%;
    flex-basis: 22%;
    margin: 0 3% 3% 0; }
  .image-container--fb-40 {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 40%;
    flex: 1 0 40%; }
  .image-container__description {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    background-color: rgba(42, 42, 42, 0.55);
    color: #e6e2e2;
    display: none;
    cursor: pointer; }
    .image-container__description--white {
      color: #ffffff; }
  .image-container__arrow {
    position: absolute;
    color: #cacecf;
    font-size: 4.1rem;
    top: 50%;
    -webkit-transform: translatey(-50%);
    -ms-transform: translatey(-50%);
    transform: translatey(-50%); }
    .image-container__arrow--left {
      left: -27.5%; }
    .image-container__arrow--right {
      right: -27.5%; }
    .image-container__arrow:hover {
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
      color: #ffffff;
      cursor: pointer; }
  .image-container--max-width-73 {
    max-width: 73px; }

.content--padding {
  padding: 3% 20%; }

.content--horiz-padding {
  padding: 0 12.5%; }

/*
============================================================
REVIEWS
============================================================
*/
.reviews {
  background-color: #efefef;
  text-align: center; }

/*
============================================================
LATEST NEWS
============================================================
*/
.latest-news {
  background-color: #f5f3f3; }
  .latest-news .subtitle--blue:hover {
    text-decoration: underline; }

/*
============================================================
QUESTION
============================================================
*/
.question {
  background-color: #f2b094; }
  .question .button:hover, .question .text-form__submit:hover {
    color: #f2b094;
    background-color: rgba(42, 42, 42, 0.85); }

.subtitle--borders, .text-form__input {
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

.subtitle--margins, .text-form__input {
  margin: 0 5%; }

.subtitle--top-margin {
  margin-top: 1em; }

.text-form {
  display: block; }
  .text-form__input {
    display: block;
    text-align: center;
    width: 90%;
    padding: 0.5em;
    background: none; }
    .text-form__input[type="text"]::-webkit-input-placeholder {
      opacity: 1;
      font-weight: 700; }
    .text-form__input[type="text"]:-ms-input-placeholder {
      opacity: 1;
      font-weight: 700; }
    .text-form__input[type="text"]::-ms-input-placeholder {
      opacity: 1;
      font-weight: 700; }
    .text-form__input[type="text"]::placeholder {
      opacity: 1;
      font-weight: 700; }

/*
============================================================
GALLERY
============================================================
*/
.gallery {
  background-color: #efefef; }

.gallery-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .gallery-container--flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .gallery-container--fb-66 {
    -ms-flex-preferred-size: 66%;
    flex-basis: 66%; }
  .gallery-container--space-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }

/*
============================================================
CONTACT
============================================================
*/
.contact {
  background-color: #ffffff;
  position: relative; }
  .contact .content:hover i {
    font-size: 125%;
    color: #3c8d97;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

.email-form {
  margin-top: 0.5em; }
  .email-form__input {
    width: 100%;
    padding: 1% 15% 1% 2%;
    background-image: url(../assets/paper-plane-solid.svg);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: 94% 50%;
    border: 1px solid #2a2a2a; }
    .email-form__input:focus {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s;
      border-color: #3c8d97; }

.social-media {
  position: absolute;
  right: 2%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .social-media__icon {
    margin-bottom: 1em; }
    .social-media__icon:hover .fab {
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .social-media__icon:hover .fa-instagram {
      color: #e4405f; }
    .social-media__icon:hover .fa-facebook-square {
      color: #3b5999; }
    .social-media__icon:hover .fa-pinterest-p {
      color: #bd081c; }

.title--margin-bot {
  margin-bottom: 1em; }

/*
============================================================
FOOTER
============================================================
*/
.footer {
  background-color: #2a2a2a;
  text-align: center; }

/*
============================================================
MEDIA QUERIES
============================================================
*/
@media all and (max-width: 1275px), all and (max-height: 900px) {
  .header {
    background-position: right top;
    background-size: auto; } }

@media all and (max-width: 1150px) {
  .services .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .services .list__item {
      margin-bottom: 1.5em;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      .services .list__item--col-center {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; }
  .contact .content-container--right-padding {
    padding-right: 1.5em; }
  .image-container__description .title {
    font-size: 2.4rem; }
  .image-container__description .content {
    font-size: 1.3rem; }
  .reviews .content--padding {
    padding: 3% 10%; } }

@media all and (max-height: 900px) and (max-width: 1400px) {
  html {
    font-size: 57.5%; } }

@media all and (max-width: 900px) {
  html {
    font-size: 55%; }
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
    .nav__toggle-icon {
      display: block; }
  .navigation {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 0.5em; }
    .navigation__item:not(:last-child) {
      margin: 0;
      border-bottom: 1px dotted #2a2a2a; }
  .greeting {
    text-align: center;
    -ms-flex-item-align: center;
    align-self: center; }
  .sample-shoots {
    display: none; }
  .contact .content-container--flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
    .contact .content-container--flex-row .content-container {
      margin-bottom: 0em; }
      .contact .content-container--flex-row .content-container--right-padding {
        padding-right: 0em; }
    .contact .content-container--flex-row .content-container:nth-child(2) {
      margin-bottom: 1em; }
  .contact .email-form__input {
    width: 60%;
    background-size: 4%; }
  .contact .gallery-container--flex-wrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .contact .nav {
    display: none; } }

@media all and (max-width: 750px) {
  .wrapper {
    max-width: 85%; }
  .testimonials .content-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
    .testimonials .content-container .image-container {
      margin-bottom: 1em; }
    .testimonials .content-container--margin-left {
      margin: 0; }
  .content--horiz-padding {
    padding: 0 2%; } }

@media all and (max-width: 650px) {
  .latest-news .image-container__description .content--padding {
    padding: 3% 0%; } }

@media all and (max-width: 600px) {
  .content {
    font-size: 2rem; }
    .content--small, .email-form__input {
      font-size: 1.6rem; }
  .reviews .content--padding {
    padding: 3% 5%; }
  .latest-news .list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .latest-news .list__item {
      margin-bottom: 1em; }
      .latest-news .list__item--left {
        text-align: center; }
    .latest-news .list__item:last-child {
      margin-bottom: 0; }
  .latest-news .image-container__description .title {
    font-size: 2.6rem; }
  .latest-news .image-container__description .content--small, .latest-news .image-container__description .email-form__input {
    font-size: 1.8rem; }
  .gallery .list--fb-30 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .gallery .list__link:nth-child(1) {
    background-image: url(../assets/image-11.jpeg);
    background-size: cover; }
  .gallery .list__link:nth-child(2) {
    background-image: url(../assets/image-12.jpeg);
    background-size: cover; }
  .gallery .list__link:nth-child(3) {
    background-image: url(../assets/image-13.jpeg);
    background-size: cover; }
  .gallery .list__link:nth-child(4) {
    background-image: url(../assets/image-14.jpeg);
    background-size: cover; }
  .gallery .list__link:nth-child(5) {
    background-image: url(../assets/image-5.jpeg);
    background-size: cover; }
  .gallery .list--fb-30 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%; }
  .gallery .list__item {
    text-shadow: -0.8px 0 black, 0 0.8px black, 0.8px 0 black, 0 -0.8px black;
    padding: 0.5em; }
    .gallery .list__item--dark-bg:hover {
      background-color: transparent;
      padding: 2em; }
  .gallery .gallery-container {
    display: none; }
  .social-media {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    margin-top: 1em; }
    .social-media__icon {
      margin-bottom: 0; } }

@media all and (max-height: 620px) {
  .greeting {
    top: 45%; } }

@media all and (max-width: 550px), all and (max-height: 400px) {
  html {
    font-size: 50%; } }

@media all and (max-width: 500px) {
  .contact .gallery-container--flex-wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .contact .email-form__input {
    width: 100%; } }

@media all and (max-width: 450px) {
  .contact .content-container:nth-child(3) {
    display: none; } }
