@import "partials/setup.scss";
@import "partials/utils.scss";
@import "partials/typography.scss";

/*
============================================================
GENERAL STYLING THAT COME UP OFTEN
============================================================
*/

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

a:focus,
a:active {
  outline: 0;
}

img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.img--height {
  height: 100%;
}

.header,
.services,
.sample-shoots,
.reviews,
.latest-news,
.question,
.gallery,
.contact,
.footer {
  width: 100%;
}

/* WRAPPER */
.large-wrapper {
  max-width: 2400px;
  margin: 0 auto;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;

  &--padding {
    padding: 6% 0;
  }

  &--less-padding-bot {
    padding-bottom: 3%;
  }

  &--flex-row {
    display: flex;
  }

  &--flex-col {
    display: flex;
    flex-direction: column;
  }

  &--content-center {
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &--space-between {
    justify-content: space-between;
  }
}

/* CONTENT CONTAINER */

.content-container {
  width: 100%;

  &--flex-col {
    display: flex;
    flex-direction: column;
  }

  &--flex-row {
    display: flex;
    align-items: center;
  }

  &--flex-start {
    align-items: flex-start;
  }

  &--margin-left {
    margin-left: 2em;
  }

  &--right-padding {
    padding: 0 4.5em 0 0;
  }
}

/* BUTTON */
.button {
  border: 1px solid $font-color-1;
  background: none;
  letter-spacing: 0.25em;
  padding: 0.5em 1.5em;
  border-radius: 50px;
  margin: 0.5em 0;

  &--add-margin {
    margin: 2.5em 0 1em 0;
  }
}

/*
============================================================
HEADER
============================================================
*/

.header {
  background-image: url(../assets/image-1.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
}

.nav {
  margin-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &--col {
    flex-direction: column;
  }

  &--margin-top {
    margin-top: 2em;
  }

  &__checkbox {
    display: none;

    &:checked + .navigation {
      display: flex;
    }
  }

  &__toggle-icon {
    display: none;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;

    &:hover {
      transition: 0.3s;
      color: $font-color-2;
    }
  }

  &__mobile-top-container {
    width: 100%;
    position: relative;
  }
}

.navigation {
  display: flex;

  &__item {
    margin-right: 1em;

    &:last-child {
      margin-right: 0;
    }
  }

  .subtitle:hover {
    color: $font-color-2;
    transform: scale(1.05);
  }
}

.greeting {
  position: absolute;
  top: 39%;
  align-self: flex-end;

  .button:hover {
    transition: 0.4s;
    background-color: rgba($font-color-2, 0.75);
    color: $font-color-5;
  }
}

/*
============================================================
WELCOME
============================================================
*/

.welcome {
  background-color: $background-color-1;
  text-align: center;

  .button:hover {
    transition: 0.4s;
    background-color: rgba($font-color-2, 0.9);
    color: $background-color-1;
  }
}

/*
============================================================
SERVICES
============================================================
*/

.services {
  background-color: $background-color-2;
}

.list {
  width: 100%;
  display: flex;

  &--evenly {
    justify-content: space-evenly;
  }

  &--between {
    justify-content: space-between;
  }

  &--fb-30 {
    flex-basis: 31.5%;
  }

  &--flex-col {
    flex-direction: column;
  }

  &--bg {
    background-color: $background-color-6;
  }

  &__item {
    text-align: center;

    &--fb-30 {
      flex-basis: 31.5%;
    }

    &--col-center {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--left {
      text-align: left;
    }

    &--dark-bg {
      transition: 0.1s;
      padding: 1 em;
    }

    &--dark-bg:hover {
      background-color: rgba($hover-bg-color-2, $hover-bg-color-1-alpha);
    }
  }

  &__icon {
    font-size: 60px;
  }
}

/*
============================================================
TESTIMONIALS
============================================================
*/

.testimonials {
  background-color: $background-color-1;
}

/*
============================================================
SAMPLE SHOOTS
============================================================
*/

.sample-shoots {
  display: flex;
}

.image-container {
  position: relative;

  &--fb-50 {
    flex-basis: 48%;
  }

  &--margin-bot {
    margin-bottom: 4%;
  }

  &--fb-25 {
    flex-basis: 22%;
    margin: 0 3% 3% 0;
  }

  &--fb-40 {
    flex: 1 0 40%;
  }

  &__description {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-color: rgba($hover-bg-color-1-rgb, $hover-bg-color-1-alpha);
    color: $font-color-3;

    visibility: hidden;

    cursor: pointer;

    &--white {
      color: $font-color-5;
    }
  }

  &__arrow {
    position: absolute;
    color: $font-color-8;
    font-size: 4.1rem;
    top: 50%;
    transform: translatey(-50%);

    &--left {
      left: -27.5%;
    }

    &--right {
      right: -27.5%;
    }

    &:hover {
      transition: 0.2s;
      color: $font-color-5;
      cursor: pointer;
    }
  }

  &--max-width-73 {
    max-width: 73px;
  }
}

.sample-shoots,
.latest-news,
.gallery,
.contact {
  .image-container:hover {
    .image-container__description {
      visibility: visible;
    }

    /* whyus's CSS code for background hover effect:
    https://jsfiddle.net/fr243agf/
    */
    -webkit-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.34);
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.34);
    z-index: 9999;
    transform: scale(1.02);

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}

.contact {
  .image-container:hover {
    @extend .image-container:hover;
    transform: scale(1.25);
  }
}

.content--padding {
  padding: 3% 20%;
}

.content--horiz-padding {
  padding: 0 12.5%;
}

/*
============================================================
REVIEWS
============================================================
*/

.reviews {
  background-color: $font-color-4;
  text-align: center;
}

/*
============================================================
LATEST NEWS
============================================================
*/

.latest-news {
  background-color: $background-color-4;

  .subtitle--blue:hover {
    text-decoration: underline;
  }
}

/*
============================================================
QUESTION
============================================================
*/

.question {
  background-color: $background-color-5;

  .button:hover {
    color: $background-color-5;
    background-color: rgba($font-color-1, 0.85);
  }
}

.subtitle--borders {
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.subtitle--margins {
  margin: 0 5%;
}

.subtitle--top-margin {
  margin-top: 1em;
}

.text-form {
  display: block;

  &__input {
    display: block;
    text-align: center;
    width: 90%;
    padding: 0.5em;

    @extend .subtitle--borders;
    @extend .subtitle--margins;
    @extend .subtitle--reset;
    background: none;

    &::placeholder {
      @extend .subtitle;
      opacity: 1;
      font-weight: 700;
    }

    &:focus {
      border-top-width: 1.5px;
      border-bottom-width: 1.5px;
      transition: all 0.25s ease-in-out;
      transform: scale(1.03);
      z-index: 9999;
    }
  }

  &__submit {
    @extend .button;
    @extend .button--add-margin;
  }
}
/*
============================================================
GALLERY
============================================================
*/

.gallery {
  background-color: $background-color-3;

  .section-title {
    display: none;
  }
}

.gallery-container {
  width: 100%;
  display: flex;

  &--flex-wrap {
    flex-wrap: wrap;
  }

  &--fb-66 {
    flex-basis: 66%;
  }

  &--space-between {
    justify-content: space-between;
  }
}

/*
============================================================
CONTACT
============================================================
*/

.contact {
  background-color: $background-color-1;
  position: relative;

  .content:hover {
    i {
      font-size: 125%;
      color: $extra-color-1;
      transition: 0.3s;
    }
  }
}

.email-form {
  margin-top: 0.5em;
  border: 1px solid $font-color-1;
  display: flex;
  align-items: center;
  padding: 1% 5% 1% 2%;
  justify-content: space-between;
  width: 100%;

  &:focus-within {
    transition: 0.1s;
    border-width: 1.5px;
    border-color: $extra-color-1;
  }

  &__input {
    width: 90%;
    border: none;
    @extend .content--small;
  }

  &__button {
    font-size: 60%;
    background: none;
    outline: none;
    border: none;

    &:hover {
      transition: 0.3s;
      color: $extra-color-1;
    }
  }
}

.social-media {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);

  &__icon {
    margin-bottom: 1em;

    &:hover {
      .fab {
        transition: 0.3s;
        transform: scale(1.2);
      }

      .fa-instagram {
        color: #e4405f;
      }

      .fa-facebook-square {
        color: #3b5999;
      }

      .fa-pinterest-p {
        color: #bd081c;
      }
    }
  }
}

.title--margin-bot {
  margin-bottom: 1em;
}

/*
============================================================
FOOTER
============================================================
*/

.footer {
  background-color: #2a2a2a;
  text-align: center;
}

/*
============================================================
MEDIA QUERIES
============================================================
*/

@import "partials/media-queries.scss";
